body{
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color:grey;


}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-top:300px;

}
.display{
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:black;
    text-shadow: 2px hsla(0,0%,0%,0.75);
    margin-bottom: 25px;


}
.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px ;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: background-color 0.5s ease;

}
.start-button{
    background-color: rgb(30, 255, 0);

}
.start-button:hover{
    background-color: rgb(184, 240, 101);
}
.stop-button{
    background-color: rgb(255, 0, 0);

}
.stop-button:hover{
    background-color: rgb(238, 116, 116);
}
.reset-button{
    background-color: rgb(0, 60, 255);

}
.reset-button:hover{
    background-color: rgb(0, 221, 255);
}